
<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
	<meta charset="utf-8">
    <title>Eka Ade Saputra | Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Styles -->
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static 'assets/css/photographer.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/shadowbox/shadowbox.css' %}">
    
    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>    
<body>
	
	<div class="masthead clearfix">
			
		<div class="container">
			
			<div class="logo pull-left">ekaade.<span class="text-muted"> silent thinking and doing</span></div>
			
			<div class="socials pull-right">
				<a href="https://twitter.com/ekadesaputra" target="_blank"><i class="fa fa-twitter"></i></a> <!-- your twitter link -->
				<a href="https://www.facebook.com/Ekadesaputra?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a> <!-- your facebook link -->
				<a href="https://www.instagram.com/ekaadesaputra" target="_blank"><i class="fa fa-instagram"></i></a> <!-- your linkedin link -->
				<!-- <a href=""><i class="fa fa-pinterest"></i></a> your pinterest link -->
				<a href="#" data-toggle="popover" data-placement="bottom"  data-trigger="focus" data-content="sekaadeputra@gmail.com"><i class="fa fa-envelope"></i></a> <!-- your email address -->
			</div>
			
		</div>
		
	</div>
	
	
	<div class="container">
		
		<div class="clearfix">
		
		<ul class="filter-nav">
			<li class="active"><a data-id="all" href="">All</a></li>
			<li><a data-id="portraits" href="">Portraits</a></li>
			<li><a data-id="landscapes" href="">Landscapes</a></li>
			<li><a data-id="animals" href="">Animals</a></li>
			<li><a data-id="streets" href="">Street</a></li>
			<li><a data-id="designs" href="">Design</a></li>
		</ul>
		
		</div>
		
		<div class="row">
		
		<ul class="thumbnails" id="thumbnails">
		{% for post in posts %}
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="{{ post.pk }}" data-type="{{ post.category }}">
				<a href="{{ post.image.url }}" class="thumbnail">
				  <img src="{{ post.image.url }}" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
			</li>
		{% endfor %}						
		</ul>		
		</div>
		
	</div>
	
	<!-- Javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'assets/js/shadowbox/shadowbox.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.easing.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.quicksand.js' %}"></script>
    <script src="{% static 'assets/js/photographer.js' %}"></script>
    <script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover(); 
	});
	</script>

</body>
</html>