{% extends 'photo/base.html' %} 
{% block content %} 
	<div class="row">
		<ul class="thumbnails" id="thumbnails">
		{% for post in posts %}
			<li class="col-md-3 col-sm-3 col-xs-12" data-id="{{ post.pk }}" data-type="{{ post.category }}">
				{% if post.image %}
				<a href="{{ MEDIA_URL }}{{ post.image.url }}" class="thumbnail" rel="shadowbox[album]" title="{{ post.name }}">
				  <img src="{{ MEDIA_URL }}{{ post.image.url }}" alt="" />
				  <span class="caption"><i class="icon-plus-sign"></i></span>
				</a>
				{% endif %}
			</li>
		{% endfor %}						
		</ul>		
	</div>
{% endblock %}